defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:8080

    acl host_localhost hdr(host) localhost
    acl host_pwd1 hdr_reg(host) -i ^.*\.?host1\.localhost?:?.*$
    acl host_pwd2 hdr_reg(host) -i ^.*\.?host2\.localhost?:?.*$

    use_backend all if host_localhost
    use_backend pwd1 if host_pwd1
    use_backend pwd2 if host_pwd2

    acl host_lab_bingohuang hdr(host) lab.bingohuang.com
    acl host_pwd1_b hdr_reg(host) -i ^.*\.?host1\.lab.bingohuang.com?:?.*$
    acl host_pwd2_b hdr_reg(host) -i ^.*\.?host2\.lab.bingohuang.com?:?.*$

    use_backend all if host_lab_bingohuang
    use_backend pwd1 if host_pwd1_b
    use_backend pwd2 if host_pwd2_b

    acl host_labs_bingohuang hdr(host) labs.bingohuang.com
    acl host_pwd1_c hdr_reg(host) -i ^.*\.?host1\.labs.bingohuang.com?:?.*$
    acl host_pwd2_c hdr_reg(host) -i ^.*\.?host2\.labs.bingohuang.com?:?.*$

    use_backend all if host_labs_bingohuang
    use_backend pwd1 if host_pwd1_c
    use_backend pwd2 if host_pwd2_c

backend all
    balance roundrobin

    option httpchk GET /ping HTTP/1.0
    http-check expect rstatus 200
    default-server inter 3s fall 3 rise 2

    server node1 pwd1:3000 check
    server node2 pwd2:3000 check

backend pwd1
    server node1 pwd1:3000

backend pwd2
    server node2 pwd2:3000
